* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #333;
    color: #FFF;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordon-wrapper { width: 100%; max-width: 700px; }

.accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-item {
    background: #555;
    border-radius: 22px;
    overflow: hidden;
    cursor: default;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.accordion-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.18);
}

.accordion-item.active { background: #666666 }

.accordion-header {
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    transition: max-height 0.35s ease;
}

.accordion-content p { padding: 24px 24px; }