* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #444;
    color: #D4D4D4;
    min-height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.accordion-wrapper { width: 100%; max-width: 700px; }

.accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.accordion-item {
    background: #555;
    border-radius: 20px;
    overflow: hidden;
    cursor: default;
    box-shadow: 0 12px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.accordion-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.accordion-item.active { background: #5c6266; }

.accordion-header {
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
    cursor: pointer;
}

.icon {
    font-size: 20px;
    line-height: 1.6;
    transition: transform 0.3s ease;
}

.accordion-item.active .icon {
    transform: rotate(45deg);
}

.accordion-content {
    max-height: 0;
    transition: max-height 0.35s ease;
}

.accordion-content p {
    padding: 0 24px 24px;
}